name: java application cicd github actions workflow
on: 
  push: 
    branches:
      - main 
      - master
      - hotfix/*
      - release/*
  pull_request:
    branches:
      - main
      - master
jobs:
  build:
    runs-on: [ubuntu-latset]
    steps:
      - name: print
        run: echo "Checking out code..
