name: java application cicd github actions workflow
on: 
  push: 
    branches:
      - main 
      - master
      - hotfix/*
      - release/*
  pull_request:
    branches:
      - main
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        java_version: [11, 17, 21]
    runs-on: ${{ matrix.os }}
    steps:
      - name: print
        run: echo "Checking out code..
